
@mixin paddingRL($padding){
      @if $padding != 0{
         padding-left: $padding;
         padding-right: $padding;
      }@else{
         padding-left: 1.5rem;
         padding-right: 1.5rem;
      }
}

@mixin responsiveDesktop{
   @media screen and (min-width: 763px){
      @content;
   }
}