.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   @include paddingRL(0);
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   background-color: $darkBlue;
   font-family: $fontTitle;

   &_logo {
      width: 30%;
      max-width: 250px;
      min-width: 100px;
      height: auto;
   }

   &_list li {
      color: #fff;
      display: inline-block;
      padding-left: 1.5rem;
   }
}
