.productive {
   @include paddingRL(0);

   &_Image img {
      width: 100%;
      padding-bottom: calc(1.5rem * 2);
      
      @include responsiveDesktop{
         width: 90%;
      }
   }

   p {
      padding-bottom: 1rem;
   }

   @include responsiveDesktop{
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
      width: 85%;
      max-width: 1400px;
      margin: 0 auto;
   }
}

.productive_more {
   padding-bottom: 0.5rem;
   display: inline-flex;
   border-bottom: 1px solid $cyan;
   align-items: center;
   height: auto;

   a {
      height: 100%;
      padding-right: .5rem;
      color: $cyan;
   }

   svg{
      width: 20px;
   }

   &:hover svg{
      animation: productiveArrow .5s alternate infinite;
   }
}

@keyframes productiveArrow{
   100%{
      transform: translateX(5px);
   }
}


@include responsiveDesktop{
   .productive_Title{
      max-width: 250px;
   }
}