*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import 'variables';

body{
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   font-size: $fontBody;
   background-color: $darkBlueBackground;
   color: $white;
}
h1, h2, h3{
   font-weight: 700;
}
h1{
   font-size: 1.8rem;
   line-height: 1.5;
}
li{
   list-style: none;
}


.linteText{
   line-height: 1.8;
}

@import 'mixin';
@import 'nav';
@import 'main';
@import 'btnInput';