@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@import 'variables';

body{
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   font-size: $fontSizeBody;
   background-color: $darkBlueBackground;
   color: $white;
   font-family: $fontBody;
}
h1, h2, h3{
   font-weight: 700;
   font-family: $fontTitle;
}
h1{
   font-size: 1.8rem;
   line-height: 1.5;
}
li{
   list-style: none;
}
p{
   letter-spacing: 1px;
}
section:not(.main){
   margin-top: 10rem;
}

.linteText{
   line-height: 1.8;
}

@import 'mixin';
@import 'nav';
@import 'main';
@import 'btnInput';